h1{
	border:2px solid tomato;
}
h2{
	border:2px solid orange;
}
h3{
	border:2px solid Dodgerblue;
}
h4{
	border:2px solid MediumSeaGreen;
}
h5{
	border:2px solid Gray;
}
h6{
	border:2px solid SlateBlue;
}
h1{
	border:2px solid Violet;
}
h2{
	border:2px solid LightGray;
}
h3{
	border:2px solid PowderBlue;
}