#div1{
	background-color:slateblue;
	color:violet;
}
#div2{
	
	background-color:violet;
	color:yellow;
}
#div3{
	
	background-color:yellow;
	color:red;
}
#div4{
	 background-color:#ff0000;
	color:Powderblue;
	 
}
#div5{
	background-color:#aabbcc;
	color:purple;
}
#div6{
	background-color:pink;
	color:blue;
}
#div7{
	background-color:orange;
	color:black;
}