#div1{
	background-color:tomato;
	width:400px;
	height:100px;
}
#div2{
	
	background-color:violet;
	width:400px;
	height:100px;
}
#div3{
	
	background-color:yellow;
	width:400px;
	height:100px;
}
#div4{
	 background-color:#ff0000;
	 width:400px;
	 height:100px;
	 
}
#div5{
	background-color:#aabbcc;
	width:400px;
	height:100px;
}